In [11]:
a = 10

In [29]:
if a < 15:
    print("my name is vinay")

my name is vinay

In [15]:
a < 15

True

In [17]:
a>15

False

In [31]:
if a < 15:
    pass

In [33]:
if a < 15:
    
    print ("my name is vinay")

my name is vinay

In [35]:
if 24 < 15:
    print ("my name is vinay")

In [39]:
 24 < 15

False

In [41]:
if 10 < 3  :
     print (" 10 is less than 3")
else:
    print("if statement is wrong")

if statement is wrong

In [45]:
if 5 < 10  :
     print (" 5 is less than 10")
else:
    print("if statement is wrong")

 5 is less than 10

In [47]:
income = 100
if income < 50:
    print(" i will be able to buy phone")
elif income  < 70:
    print (" i will be able to buy car")
elif income < 90:
    print("i will be able to rent a house")
else:
    print("i wont be able to buy anything")

i wont be able to buy anything

In [1]:
income = int(input())
if income < 50:
    print(" i will be able to buy phone")
elif income  < 70:
    print (" i will be able to buy car")
elif income < 90:
    print("i will be able to rent a house")
else:
    print("i wont be able to buy anything")

 10

 i will be able to buy phone

In [9]:
Total_price = int(input())
if Total_price  > 20000:
    discount = Total_price * .20 
    print ("Discount will be", discount)
elif total_price <= 7000:
    discount = total_price * .05
else:
    print ("wont be able to give any discount")

 10000

NameError: name 'total_price' is not defined

In [15]:
total_price = int(input())
if total_price  > 20000:
    discount = total_price * .20 
    print ("Discount will be", discount)
elif total_price <= 7000:
    discount = total_price * .05
    print ("Discount will be", discount)
else:
    print ("wont be able to give any discount")

 4565

Discount will be 228.25

In [19]:
coup = "VINAY10"
if coup == "VINAY10":
    print("you will be able to get a discount of 5%")
    paid_amount = 7080 - 7080*.05
    print ("you will be get one nuron with this amount" , paid_amount)
else:
    print("kinldy use a vlid coupan code")

you will be able to get a discount of 5%
you will be get one nuron with this amount 6726.0

In [25]:
coup = input()
if coup == "VINAY10":
    print("you will be able to get a discount of 5%")
    paid_amount = 7080 - 7080*.05
    print ("you will be get one neuron with this amount" , paid_amount)
else:
    print("kinldy use a valid coupan code")

 asdf

kinldy use a valid coupan code

In [27]:
coup = input()
if coup == "VINAY10":
    print("you will be able to get a discount of 5%")
    paid_amount = 7080 - 7080*.05
    print ("you will be get one neuron with this amount" , paid_amount)
else:
    print("kinldy use a valid coupan code")

 VINAY10

you will be able to get a discount of 5%
you will be get one neuron with this amount 6726.0

In [29]:
"vinay" == "vinay"

True

In [35]:
study_hour = int(input())
if study_hour < 1:
    print("it may take 8-9 months of time to make a transition")
elif study_hour < 4 and study_hour > 1:
    print("it may take 6 months of time to make a transition")
elif study_hour > 10:
    print("it will take 3 month of time for transition")
else:
    print("it will be difficult")

 2

it may take 6 months of time to make a transition

In [37]:
study_hour = int(input())
if study_hour < 1:
    print("it may take 8-9 months of time to make a transition")
elif study_hour < 4 or study_hour > 1:
    print("it may take 6 months of time to make a transition")
elif study_hour > 10:
    print("it will take 3 month of time for transition")
else:
    print("it will be difficult")

 2

it may take 6 months of time to make a transition

In [41]:
a = 9
if a == 9 : 
    print("valid")

valid

In [51]:
s = input("enter a string to start")
course = input("enter a course name")
service = input("enter a service")
if s == "oneneuron":
    if course == "DSA":
        print("yes it is available under one neuron and in multiple mode for job preparation and core concepts")
    elif course == "Blockchain":
        print("this is not available as of now, kinldy raise raise a demand and we willl fulfill in 60 days")
    elif course == "FSDS":
        print(" yes it is available, you can start learning")
    else: 
        print("this is not available kindly raise a demand")
elif s ==" oneneuronservice":
    if service == "courserequest":
        print("fulfilling in next 60 days")
    elif service =="module":
        print("fulfilling in 30 days")
    elif service ==" doubt":
        print ("fulfilling in 24hrs")
    elif service == "workwithus":
        print ("fulfilling in 24hrs")
    else :
        print  ("provide feedback")
else:
    print (" kindly connect with team")

enter a string to start oneneuron
enter a course name abcd
enter a service zasdf

this is not available kindly raise a demand

In [63]:
s = input("enter a string to start")
course = input("enter a course name")
service = input("enter a service")
if s == "oneneuron":
    if course == "DSA":
        print("yes it is available under one neuron and in multiple mode for job preparation and core concepts")
    elif course == "Blockchain":
        print("this is not available as of now, kinldy raise raise a demand and we willl fulfill in 60 days")
    elif course == "FSDS":
        print(" yes it is available, you can start learning")
    else: 
        print("this is not available kindly raise a demand")
elif s ==" oneneuronservice":
    if service == "courserequest":
        print("fulfilling in next 60 days")
    elif service =="module":
        print("fulfilling in 30 days")
    elif service ==" doubt":
        print ("fulfilling in 24hrs")
    elif service == "workwithus":
        print ("fulfilling in 24hrs")
    else :
        print  ("provide feedback")
else:
    print (" kindly connect with team")

enter a string to start oneneuron
enter a course name Blockchain
enter a service courserequest

this is not available as of now, kinldy raise raise a demand and we willl fulfill in 60 days

In [65]:
l = [1,2,3,4,5,6,7]
for i in l:
    print(i)

1
2
3
4
5
6
7

In [67]:
s = "sudh"
for i in s:
    print(i)

s
u
d
h

In [69]:
for i in "vinay":
    print(i)

v
i
n
a
y

In [75]:
t = (1,2,3,4,5,6)

In [83]:
for i in t:
    print (i)

1
2
3
4
5
6

In [93]:
l = [1,4,5.6, 4+1j, "vinay"]

In [97]:
type(l[0])

int

In [99]:
type(l[1])

int

In [101]:
type(l[2])

float

In [103]:
type(l[3])

complex

In [105]:
type(l[4])

str

In [111]:
for i in l :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [117]:
for i in l :
    print(type(i), "type of", i)

<class 'int'> type of 1
<class 'int'> type of 4
<class 'float'> type of 5.6
<class 'complex'> type of (4+1j)
<class 'str'> type of vinay

In [119]:
l = [1,4,5.6]
for i in l:
    print (i+2)

3
6
7.6

In [123]:
l = [1,4,5.6]
l1= []
for i in l:
    print (i+2)
    l1.append(i+2)

3
6
7.6

In [125]:
l1

[3, 6, 7.6]

In [159]:
l = [2,45,78,12,"vinay", 6+7j, [22,44, "vinay"]]

In [147]:
for i in l:
    if type(i) == int:
        print (i)

2
45
78
12

In [163]:
for i in l:
    if type(i) == int:
        print (i)
    elif type(i) == list:
        for j in i:
            if type(j) == int:
                print (j)

2
45
78
12
22
44

In [191]:
l = [2,45,78,12,"vinay", 6+7j, [22,44, "vinay"]]

In [167]:
for i in l:
    if type(i) == int:
        print (i*i)
    elif type(i) == list:
        for j in i:
            if type(j) == int:
                print (j*j)

4
2025
6084
144
484
1936

In [185]:
range(5)

range(0, 5)

In [195]:
len(l)

7

In [197]:
for i in range(len(l)):
    print("index", i , "for an element" , l[i])

index 0 for an element 2
index 1 for an element 45
index 2 for an element 78
index 3 for an element 12
index 4 for an element vinay
index 5 for an element (6+7j)
index 6 for an element [22, 44, 'vinay']

In [199]:
l

[2, 45, 78, 12, 'vinay', (6+7j), [22, 44, 'vinay']]

In [201]:
for i in enumerate(l):
    print(i)

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 'vinay')
(5, (6+7j))
(6, [22, 44, 'vinay'])

In [203]:
for i, j in enumerate(l):
    print(i, j)

0 2
1 45
2 78
3 12
4 vinay
5 (6+7j)
6 [22, 44, 'vinay']

In [207]:
 for i in l:
    if type(i) == "char":
        print (i*i)
    elif type(i) == list:
        for j in i:
            if type(j) == "char":
                print (j*j)

In [217]:
l

[2, 45, 78, 12, 'vinay', (6+7j), [22, 44, 'vinay']]

In [221]:
for i in l:
    if type(i) == str:
        l1 = []
        for j in i:
            l1.append(j)
            print(l1)

['v']
['v', 'i']
['v', 'i', 'n']
['v', 'i', 'n', 'a']
['v', 'i', 'n', 'a', 'y']

In [223]:
l = [2,45,78,12,"vinay","bg", 6+7j, [22,44, "vinay"]]

In [229]:
for i in l:
    if type(i) == str:
        l1 = []
        for j in i:
            l1.append(j)
            print(l1)

['v']
['v', 'i']
['v', 'i', 'n']
['v', 'i', 'n', 'a']
['v', 'i', 'n', 'a', 'y']
['b']
['b', 'g']

In [231]:
l = [2,45,78,12,"vinay","bg", 6+7j, [22,44, "vinay"]]

In [241]:
l2 = []
for i in l:
    if type(i) ==int:
        l2.append(i**2)

In [243]:
l2

[4, 2025, 6084, 144]